/* Code for the styling of the body of the webpage */
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

/* Code for the styling of dark mode. This will be used with the JS when making the page dark mode */
.darkMode {
    background-color: black; 
    color: white; 
}

.darkMode ul {
    background-color: white;
}

.darkMode li a {
    color: black; 
}

.darkMode li a:hover:not(.active) {
    background-color: #4CAF50;
}

.darkMode footer {
    background-color: white;
    color: black; 
}


/* Code for the styling of the navigation bar at the top of the webpage */
ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #333; 
}

li {
    float: right; 
}

li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

li a:hover:not(.active) {
    background-color: #111; 
}

.homeButton {
    float: left; 
}

.active {
    background-color: #4CAF50;
}

/* Code for styling the h1 and p tags within HTML */
h1 {
    text-align: center; 
}

p {
    text-align: center; 
}

/* Code for styling the button to toggle dark mode */
button {
    text-align: center;
    justify-content: center;
    color: black; 
    background-color: #4CAF50; 
}

/* Code for styling the footer at the bottom of the webpage */
footer {
    text-align: center; 
    padding: 3px; 
    background-color: #333; 
    color: white; 
}